<div class="modal fade" id="cartModal" tabindex="-1" aria-labelledby="cartModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cartModalLabel">Your Cart</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if @cart.line_items.any? %>
          <ul class="list-group">
            <% @cart.line_items.each do |line_item| %>
              <li class="list-group-item">
                <%= line_item.product.name %> - <%= number_to_currency(line_item.product.price) %> (x<%= line_item.quantity %>)
                <%= button_to 'Remove', line_item_path(line_item), method: :delete, class: 'btn btn-danger btn-sm float-end' %>
              </li>
            <% end %>
          </ul>
          <hr>
          <p>Total: <%= number_to_currency(@cart.total_price) %> </p>

        <% else %>
          <p>Your cart is empty.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
