<section id="cart" class="container w-30px mt-5">
  <div class="card p-3 shadow">
    <h2 class="text-center">Total Price</h2>
    <h3 id="total-price" class="text-center text-primary">$0</h3>
    <ul class="list-group mt-3 entries"></ul>
  </div>
</section>

<section id="shop" class="container mt-5 rounded-4">
   <div class="row">
<% @products.each do |product|%>
    <div class="col-md-3 mb-4" id="shop-items">
      <div class="card shadow rounded-4 h-100 d-flex flex-column bg-dark">
        <img src="<%=product.picture%>" class="card-img-top rounded-top" class="card-img-top" alt="<%=product.name%>">
        <div class="card-body text-center flex-grow-1">
         <div class="mb-4">
          <h5 class="card-title text-white "><%=product.name%></h5>
          <span class="price text-success font-weight-bold"> <strong>$ <%= product.price%></strong></span>
        </div>
          <%# <p class="card-text"><%= product.description%>
          <button class="btn btn-primary btn-block add position-absolute bottom-0 start-0 w-100 fa-solid fa-cart-shopping">Add To Cart</button>
        </div>
      </div>
    </div>
<%end%>
</div>
